/**
*********************
* Breakpoint mixin
********************
**/
@use 'sass:map';
@use 'variables' as *;

$breakpoints: (
  "sm": $sm,
  "md": $md,
  "lg": $lg,
  "xl": $xl,
);

@mixin breakpoint($screen, $type: min) {
  @if map.has-key($breakpoints, $screen) {
    $screen: map.get($breakpoints, $screen);

    @if $type == max {
      $screen: $screen - 0.0625rem;
    }

    @media only screen and (#{$type}-width: $screen) {
      @content;
    }
  }
}
